{% extends "base.html" %}

{% block titulo %}Mano - Vitrine Interativa{% endblock %}
{% block nome %}Meu Curriculo{% endblock %}
{% block subtitulo %}Contatos: WhatsApp - 042 9 9976 0360.
                     Gmail:josealcimarnunes@gmail.com / alcitech7@gmail.com{% endblock %}

{% block conteudo %}
<div class="modules-grid">
    <a href="/categoria1" class="module-card" style="background-image: url('/static/images/modulos/categoria1.png');">
        <div class="card-hint">📖 Minha História</div>
    </a>
    <a href="/categoria2" class="module-card" style="background-image: url('/static/images/modulos/categoria2.png');">
        <div class="card-hint">🎮 RPG - Programação</div>
    </a>
    <a href="/categoria3" class="module-card" style="background-image: url('/static/images/modulos/categoria3.png');">
        <div class="card-hint">🤖 Projetos</div>
    </a>
    <a href="/categoria4" class="module-card" style="background-image: url('/static/images/modulos/categoria4.png');">
        <div class="card-hint">📱 Contato</div>
    </a>
    <a href="/categoria5" class="module-card" style="background-image: url('/static/images/modulos/categoria5.png');">
        <div class="card-hint">📝 Blog</div>
    </a>
    <a href="/categoria6" class="module-card" style="background-image: url('/static/images/modulos/categoria6.png');">
        <div class="card-hint">🛠️ Tecnologias</div>
    </a>
    <a href="/categoria7" class="module-card" style="background-image: url('/static/images/modulos/categoria7.png');">
        <div class="card-hint">🏛️ Trajetória</div>
    </a>
    <a href="/categoria8" class="module-card" style="background-image: url('/static/images/modulos/categoria8.png');">
        <div class="card-hint">⭐ Recomendações</div>
    </a>
</div>
{% endblock %}